* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #8f9294;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 40px;
  background-color: #dee2e6;
}

/* Navigation*/

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.navigation > li {
  list-style: none;
}

.navigation > li > a {
  text-decoration: none;
  color: #343a40;
  padding-bottom: 3px;
}

.navigation > li > a:hover {
  color: #00b4d8;
  transition: all 0.1s ease-in-out;
  border-bottom: 2px solid #00b4d8;
}

.main-container {
  display: flex;
  background-color: #495057;
  padding: 0;
}

.left-side {
  width: 30%;
  background-color: #495057;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.right-side {
  background-color: #f8f9fa;
  width: 70%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 35px;
  color: #343a40;
}

img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

h2 {
  font-size: 25px;
  padding: 10px 40px 10px;
  background-color: #6c757d;
  position: relative;
}

h2::before {
  content: "";
  width: 20px;
  height: 50px;
  background-color: #00b4d8;
  position: absolute;
  top: 0;
  left: 0;
}

.left-side_heading {
  color: #ced4da;
}

ul {
  padding-left: 40px;
}

.contacts-list {
  padding-top: 20px;
  list-style-type: square;
  color: #ced4da;
}

.contacts-list > li {
  margin-top: 10px;
}

.education-list {
  padding-top: 20px;
  list-style-type: square;
  color: #ced4da;
}

.education-list > li {
  margin-top: 10px;
}

.main-heading {
  padding: 70px 0 70px 30px;
}

.main-heading p {
  font-size: 20px;
  margin-top: 15px;
  color: #343a40;
}

.right-side h2 {
  background-color: #dee2e6;
  color: #343a40;
  margin-bottom: 20px;
}

.about-me p {
  padding: 20px 40px;
  color: #343a40;
}

.right-side ul {
  color: #343a40;
}

.right-side ul > li {
  margin-bottom: 10px;
}

code {
  display: block;
  background-color: #eee;
  padding: 30px;
}

.my-projects ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-projects ul > li {
  width: 450px;
  border: 5px solid rgba(0, 0, 0, 0.1);

}

.my-projects ul > li:hover {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}

.my-projects h3 {
  text-align: center;
  padding: 15px 0;
}

.my-projects a {
  text-decoration: none;
  color: #343a40;
}

.footer-container {
  background-color: #dee2e6;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #343a40;
}

.github:hover {
  color: #00b4d8;
}

.github img {
  width: 50px;
  height: 50px;
}

.rsschool img {
  width: 150px;
  height: 50px;
  object-fit: contain;
}


@media(max-width:768px){


  .navigation {
    display: none;
  }

  

  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .left-side {
    width: 100%;
  }

  .right-side {
    width: 100%;
  }
}